<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @restaurant.cuisine.present? %>
          <a href="/cuisines/<%= @restaurant.cuisine_id %>">
            <%= @restaurant.cuisine.name %>
          </a>
        <% end %>
      </dd>

      <dt>Neighborhood</dt>
      <dd>
        <% if @restaurant.neighborhood.present? %>
          <a href="/neighborhoods/<%= @restaurant.neighborhood_id %>">
            <%= @restaurant.neighborhood.name %>
          </a>
        <% end %>
      </dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>City</dt>
      <dd>
        <% if @restaurant.city.present? %>
          <a href="/cities/<%= @restaurant.city_id %>">
            <%= @restaurant.city.name %>
          </a>
        <% end %>
      </dd>

      <dt>Zipcode</dt>
      <dd><%= @restaurant.zipcode %></dd>

      <dt>Notes</dt>
      <dd><%= @restaurant.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @restaurant.bookmarks.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <button class="btn btn-block btn-success">
        Create Favorite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Restaurant has many diners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Diners
      </li>

      <% @restaurant.diners.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
